/*-----------------------
 * Banner Style One
------------------------*/

.height-850 {
    min-height: 850px;
    width: 100%;
    padding: 240px 0 190px;
    @media #{$sm-layout} {
        min-height: auto;
        width: 100%;
        padding: 250px 0;
    }
}

.height-940 {
    min-height: 940px;
    width: 100%;
    @media #{$sm-layout} {
        min-height: auto;
        width: 100%;
        padding: 250px 0;
    }
}

.banner-style-1 {
    position: relative;
    background-image: url(../../images/bg/home-one-banner.jpg);
    z-index: 2;
    @media #{$lg-layout} {
        height: auto;
        min-height: auto;
        padding: 100px 0;
        padding-top: 150px;
    }
    @media #{$md-layout} {
        height: auto;
        min-height: auto;
        padding: 100px 0;
        padding-top: 150px;
    }
    @media #{$sm-layout} {
        height: auto;
        min-height: auto;
        padding: 100px 0;
        padding-top: 150px;
    }

    .banner-right-content {
        position: relative;
        margin-top: 138px;
        @media #{$smlg-device} {
            margin-top: 0px;
        }
        .edu-card {
            min-width: 272px;
            @media #{$sm-layout} {
                min-width: inherit;
            }
        }
    }

    .banner-left-content {
        margin-top: 120px;
        @media #{$smlg-device} {
            margin-top: 0;
        }
    }

    .inner {
        .content {
            .pre-title {
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 16px;
                line-height: 26px;
                color: var(--color-primary);
                display: block;
                margin-bottom: 10px;
            }
            .title {
                font-weight: 800;
                font-size: 72px;
                line-height: 1.25;
                margin-bottom: 30px;
                
                @media #{$lg-layout} {
                    font-size: 52px;
                    margin-bottom: 20px;
                }
                
                @media #{$md-layout} {
                    font-size: 45px;
                }

                @media #{$sm-layout} {
                    font-size: 38px;
                }
            }

            .description {
                margin-bottom: 60px;
                padding-left: 20px;
                position: relative;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;

                @media #{$lg-layout} {
                    margin-bottom: 30px;
                }
                @media #{$md-layout} {
                    margin-bottom: 30px;
                }
                @media #{$sm-layout} {
                    margin-bottom: 30px;
                    font-size: 18px;
                    line-height: 28px;
                }
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    width: 2px;
                    height: 73%;
                    background: var(--color-primary);
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .work-shop {
        min-width: 193px;
        max-width: 193px;
        background: var(--color-white);
        padding: 20px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        margin: 25px -15px 0 auto;
        @media #{$lg-layout} {
            min-width: 100%;
            max-width: 100%;
            margin-right: 0;
        }

        @media #{$md-layout} {
            min-width: 100%;
            max-width: 100%;
            margin-right: 0;
        }

        @media #{$sm-layout} {
            margin-right: 0;
            margin-left: 0;
        }
        .inner {
            .thumbnail {
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }

            .content {
                .title {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    margin: 10px 0 0;
                }

                .time {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    display: inline-block;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    .shape-round {
        position: absolute;
        left: -312px;
        top: 130px;
        z-index: -1;
    }

    .scroll-down-btn {
        position: absolute;
        top: 100%;
        left: calc(50% - 30px);
        transform: translateY(-50%);
        z-index: 1;
    }

    .shape-dot-wrapper {
        .shape {
            position: absolute;
            z-index: -1;

            &.shape-1 {
                top: 97px;
                left: -189px;
            }

            &.shape-2 {
                top: 53px;
                left: 580px;
            }

            &.shape-3 {
                top: 95px;
                right: -160px;
            }

            &.shape-4 {
                bottom: 10px;
                right: -173px;
            }

            &.shape-5 {
                bottom: -23px;
                left: 654px;
            }

            &.shape-6 {
                bottom: -37px;
                left: -255px;
            }
        }
    }

    .eduvibe-hero-one-video {
        .thumbnail {
            margin: 30px -149px 0 13px;
            @media #{$custom-laptop-device} {
                margin: 0 -70px 0 5px;
            }
            @media #{$smlg-device} {
                margin: 0 -30px 0 0px;
            }
            @media #{$large-mobile} {
                margin: 0px 0 0 0px;
            }
        }
    }

}

/*-------------------------
    Banner Style Two  
--------------------------*/
.banner-style-2 {
    background-image: url(../../images/bg/home-two-banner.jpg);
    position: relative;
    z-index: 1;
    min-height: 930px;

    @media #{$smlg-device} {
        min-height: 800px;
    }

    @media #{$lg-layout} {
        padding: 0 30px;
    }

    @media #{$md-layout} {
        padding: 150px 30px;
        height: auto;
        padding-bottom: 0;
    }

    @media #{$sm-layout} {
        padding: 150px 0px;
        height: auto;
        padding-bottom: 0;
    }
    
    .inner {
        position: relative;
        margin-top: 100px;
        @media #{$smlg-device} {
            margin-top: 0px;
        }
        .content {
            .pre-title {
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 16px;
                line-height: 26px;
                color: var(--color-primary);
                margin-bottom: 10px;
                display: block;
                padding-left: 60px;
                position: relative;

                &::before {
                    left: 0;
                    top: 13px;
                    width: 50px;
                    height: 2px;
                    background: var(--color-primary);
                    content: "";
                    position: absolute;
                }
            }

            .title {
                font-weight: 800;
                font-size: 68px;
                line-height: 1.24;
                margin-bottom: 30px;

                @media #{$lg-layout} {
                    font-size: 45px;
                }
                @media #{$md-layout} {
                    font-size: 40px;
                    margin-bottom: 15px;
                }
                @media #{$sm-layout} {
                    font-size: 38px;
                    margin-bottom: 15px;
                }
                @media #{$large-mobile} {
                    font-size: 32px;
                }
            }
            .description {
                margin-bottom: 60px;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                @media #{$md-layout} {
                    margin-bottom: 40px;
                }
                @media #{$sm-layout} {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 25px;
                }
            }
            .arrow-sign {
                position: absolute;
                right: -30px;
                bottom: -50px;
                img {
                    max-width: 70%;
                }
                @media #{$custom-lg-device-three} {
                    right: -50px;
                    bottom: -90px;
                    img {
                        max-width: 100%;
                    }
                }

                @media #{$laptop-device} {
                    right: -50px;
                    bottom: -30px;
                    img {
                        max-width: 50%;
                    }
                }

                @media #{$lg-layout} {
                    right: -110px;
                    bottom: -12px;
                    img {
                        max-width: 40%;
                    }
                }
            }
        }
    }

    .banner-thumbnail {
        position: absolute;
        bottom: 0;
        right: 111px;
        z-index: 1;

        @media #{$laptop-device} {
            right: 31px;
        }
        img {
            max-width: calc(100% - 60px );
        }
        @media #{$custom-laptop-device} {
            right: 0;
            img.girl-thumb {
                max-width: 90%;
            }
        }

        @media #{$smlg-device} {
            right: -138px;
            img.girl-thumb {
                max-width: 80%;
            }
        }

        @media #{$md-layout} {
            position: static;
            text-align: right;
            margin-top: -110px;
            img.girl-thumb {
                max-width: 70%;
            }
        }

        @media #{$sm-layout} {
            position: static;
            img.girl-thumb {
                max-width: 100%;
            }
        }
    }

    .banner-bg {
        position: absolute;
        bottom: 3px;
        right: 67px;
        z-index: 0;

        @media #{$custom-laptop-device} {
            right: 0;
        }
        img.girl-bg {
            max-width: calc(90% - 10px);
            @media #{$custom-laptop-device} {
                max-width: 90%;
            }
        }

        @media #{$laptop-device} {
            right: -40px;
        }

        @media #{$smlg-device} {
            right: -218px;
            img.girl-bg {
                max-width: 80%;
            }
        }
    }

    .shape-image {
        position: absolute;
        z-index: -1;

        &.shape-image-1 {
            top: 231px;
            left: 50px;
            @media #{$laptop-device} {
                top: 170px;
                left: -10px;
            }
        }

        &.shape-image-2 {
            top: 240px;
            right: 43%;
        }

        &.shape-image-3 {
            top: 250px;
            right: 90px;
        }
    }
}






